In [ ]:
#HERRAMIENTAS DE FILTADO DE PANDAS Y PYTHON
#Obtencion de informacion relevante en columnas y tablas.

In [2]:
#Primer comando par rutear y encontrar mi archivo del datasets (Excel)
import pandas as pd 
#df es = a data_Frame 

df = pd.read_csv("C:/Users/lquito/Desktop/datasets/base_datos_2008.csv", nrows = 100000)

In [3]:
#Obtener informacion de una columna concreta
df["ArrDelay"].head()

0   -14.0
1     2.0
2    14.0
3    -6.0
4    34.0
Name: ArrDelay, dtype: float64

In [5]:
#Obtener informacion por filas
df[100:110]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
100,2008,1,3,4,826.0,825,930.0,925,WN,136,...,2.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
101,2008,1,3,4,2118.0,2015,2224.0,2115,WN,219,...,3.0,17.0,0,NaN,0,17.0,0.0,6.0,0.0,46.0
102,2008,1,3,4,1818.0,1740,1916.0,1840,WN,391,...,2.0,10.0,0,NaN,0,20.0,0.0,0.0,0.0,16.0
103,2008,1,3,4,650.0,650,748.0,750,WN,670,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
104,2008,1,3,4,2146.0,2055,2250.0,2155,WN,815,...,3.0,13.0,0,NaN,0,4.0,0.0,4.0,0.0,47.0
105,2008,1,3,4,2241.0,1910,2340.0,2010,WN,1072,...,3.0,13.0,0,NaN,0,114.0,0.0,0.0,0.0,96.0
106,2008,1,3,4,1409.0,1355,1513.0,1500,WN,1328,...,2.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
107,2008,1,3,4,1100.0,1050,1157.0,1155,WN,1586,...,2.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
108,2008,1,3,4,1306.0,1250,1406.0,1355,WN,1838,...,2.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
109,2008,1,3,4,1726.0,1630,1832.0,1740,WN,2284,...,2.0,18.0,0,NaN,0,1.0,0.0,0.0,0.0,51.0

In [13]:
#Informacion po valores concretos
df[df["ArrDelay"] >= 60 ].head()
# df[df["ArrDelay"] <= 60 ].head()
# df[df["ArrDelay"] == 60 ].head()
# df[df["ArrDelay"] != 60 ].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,362,...,6.0,7.0,0,NaN,0,5.0,0.0,0.0,0.0,59.0
37,2008,1,3,4,1812.0,1650,1927.0,1815,WN,422,...,6.0,11.0,0,NaN,0,3.0,0.0,0.0,0.0,69.0
49,2008,1,3,4,2245.0,1730,2354.0,1850,WN,186,...,3.0,7.0,0,NaN,0,282.0,0.0,0.0,0.0,22.0
77,2008,1,3,4,958.0,900,1052.0,950,WN,1574,...,4.0,14.0,0,NaN,0,0.0,0.0,4.0,0.0,58.0

In [23]:
df[df["Origin"] == "IND"].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0

In [22]:
#Combinacion de Filtros
df[(df["Origin"]=="IND") & (df["ArrDelay"] > 60)].head()
df[(df["Origin"]=="IND") | (df["ArrDelay"] > 60)].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
12917,2008,1,7,1,2051.0,1915,2235.0,2110,WN,378,...,4.0,9.0,0,NaN,0,0.0,0.0,3.0,0.0,82.0
12926,2008,1,7,1,2213.0,1700,2317.0,1655,WN,1827,...,10.0,39.0,0,NaN,0,0.0,233.0,69.0,0.0,80.0
46242,2008,1,17,4,1715.0,1600,1934.0,1815,WN,1934,...,8.0,10.0,0,NaN,0,16.0,0.0,4.0,0.0,59.0
78207,2008,1,27,7,1155.0,1130,1355.0,1240,WN,1544,...,6.0,32.0,0,NaN,0,0.0,25.0,50.0,0.0,0.0

In [24]:
list(df.columns)

['Year',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'DepTime',
 'CRSDepTime',
 'ArrTime',
 'CRSArrTime',
 'UniqueCarrier',
 'FlightNum',
 'TailNum',
 'ActualElapsedTime',
 'CRSElapsedTime',
 'AirTime',
 'ArrDelay',
 'DepDelay',
 'Origin',
 'Dest',
 'Distance',
 'TaxiIn',
 'TaxiOut',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay']

In [25]:
#Escoger diferentes origenes
df[df.Origin.isin(["HOU","IND"])].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0

In [26]:
df[pd.isna(df["ArrDelay"])].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN

In [29]:
#Para saber cu
len(pd.isna(df["ArrDelay"]))

100000