In [1]:
import pandas as pd

In [6]:
#df es = a data_Frame 

df = pd.read_csv("C:/Users/lquito/Desktop/datasets/base_datos_2008.csv", nrows = 100000)

In [8]:
#se usa para mostrar las primeras filas de un DataFrame.
df.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [11]:
#Nos da las 5 ultimas filas de nuestro base de datos
df.tail()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [13]:
#Reordena nuestra base de datos
df = df.sample(frac = 1 ) 
#frac = 1 significa que queremos que mantega el 100% de las filas que tenemos

In [14]:
#para ver todos los nombres de las columnas que tenemos 
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [ ]:
# Al usar "( )" es para usar una funcion dentro de nuestro dataframe y para extraer un valor que tenemos no usmos
# Por ejmplos: df.columnsb

In [16]:
#para mostrar los tipos de variables y valores que que tienen cada columna (atributo)
df.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [17]:
df.values

array([[2008, 1, 16, ..., nan, nan, nan],
       [2008, 1, 28, ..., nan, nan, nan],
       [2008, 1, 31, ..., nan, nan, nan],
       ...,
       [2008, 1, 12, ..., nan, nan, nan],
       [2008, 1, 21, ..., 0.0, 0.0, 82.0],
       [2008, 1, 7, ..., 14.0, 0.0, 13.0]], dtype=object)

In [23]:
#Para guardar un nuevo dataframe
df2 = df.head(10)

In [22]:
df2.head(20)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
41765,2008,1,16,3,749.0,750,845.0,850,WN,2182,...,9.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
83406,2008,1,28,1,655.0,655,805.0,820,WN,2123,...,6.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
93292,2008,1,31,4,942.0,945,1121.0,1125,WN,1229,...,8.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
37550,2008,1,14,1,1716.0,1710,1842.0,1830,WN,406,...,11.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
37003,2008,1,14,1,1228.0,1235,1315.0,1325,WN,4,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
62020,2008,1,22,2,709.0,710,839.0,830,WN,3318,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
26612,2008,1,11,5,1340.0,1340,1529.0,1535,WN,1600,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
52501,2008,1,19,6,1049.0,1035,1152.0,1135,WN,1150,...,5.0,7.0,0,NaN,0,11.0,0.0,3.0,0.0,3.0
14529,2008,1,7,1,1906.0,1910,2044.0,2100,WN,2634,...,6.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
14816,2008,1,7,1,1315.0,1310,1913.0,1920,WN,106,...,4.0,26.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
68582,2008,1,24,4,2024.0,2005,2148.0,2130,WN,288,...,3.0,11.0,0,NaN,0,9.0,0.0,0.0,0.0,9.0
49876,2008,1,18,5,1011.0,1015,1218.0,1225,WN,790,...,5.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6374,2008,1,5,6,2004.0,1950,2116.0,2105,WN,537,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
91692,2008,1,31,4,NaN,1945,NaN,2045,WN,2181,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
15613,2008,1,8,2,1755.0,1750,1915.0,1905,WN,2182,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN