Gestion de la informacion duplicado o faltante, si el dato no nos interesa lo habitual es eliminarlos

In [2]:
#Modificaci√≥n de la estrucutura de nuestra base de datos
import pandas as pd
df = pd.read_csv('C:/Users/Jhoana FE/Desktop/datasets/base_datos_2008.csv', nrows=1e6)
print(df.columns)

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [3]:
df.columns = df.columns.str.strip()  # Elimina espacios en blanco
print(df.columns.tolist())  # Verifica nuevamente

['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']

In [14]:
#Duplicamos los datos con el mismo dataframe
dfduplicate = pd.concat([df, df])

In [ ]:
#Reordenamos el dataframe
dfduplicate = dfduplicate.sample(frac=1)

In [ ]:
#Eliminamos los casos duplicados
dfclean = dfduplicate.drop_duplicates()

In [18]:
#Comprobamos si nuestro nuevo df es igual al df original 
len(dfclean) == len(df)

False

In [19]:
len(dfclean)

999996

Gestion de datos mas especifico usando la funcion de datos groop duplicate

In [20]:
dfclean.drop_duplicates(subset = "DayofMonth")

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
218384,2008,1,25,5,757.0,800,1612.0,1624,UA,6,...,3.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
172338,2008,1,2,3,720.0,715,906.0,852,OO,6646,...,6.0,27.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
388147,2008,1,27,7,NaN,1115,NaN,1210,MQ,3421,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
449296,2008,1,28,1,1233.0,1243,1409.0,1418,NW,1555,...,7.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
202325,2008,1,21,1,2153.0,2005,2338.0,2134,OO,6650,...,7.0,27.0,0,NaN,0,124.0,0.0,0.0,0.0,0.0
270911,2008,1,12,6,1901.0,1900,2035.0,2040,US,1940,...,6.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
809687,2008,2,29,5,1011.0,1017,1200.0,1157,OO,3786,...,5.0,32.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
555908,2008,1,18,5,2135.0,2120,4.0,13,B6,440,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
749949,2008,2,4,1,1555.0,1445,1734.0,1629,OH,5409,...,10.0,17.0,0,NaN,0,0.0,65.0,0.0,0.0,0.0
360283,2008,1,9,3,1236.0,1241,1812.0,1811,FL,545,...,7.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
789230,2008,2,16,6,625.0,615,722.0,701,OO,5700,...,2.0,24.0,0,NaN,0,21.0,0.0,0.0,0.0,0.0
999759,2008,2,23,6,1708.0,1710,1830.0,1835,MQ,4684,...,5.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
933881,2008,2,10,7,1856.0,1821,2134.0,2110,F9,788,...,5.0,10.0,0,NaN,0,0.0,0.0,0.0,0.0,24.0
139711,2008,1,15,2,1458.0,1500,1603.0,1559,YV,7241,...,5.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
279552,2008,1,19,6,1805.0,1800,1906.0,1903,US,1272,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
887164,2008,2,1,5,1123.0,1115,1204.0,1125,WN,255,...,8.0,43.0,0,NaN,0,0.0,0.0,39.0,0.0,0.0
226327,2008,1,20,7,1321.0,1331,1411.0,1425,UA,309,...,6.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
971706,2008,2,3,7,1455.0,1500,1611.0,1620,MQ,3419,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
847102,2008,2,17,7,1154.0,1015,1728.0,1559,UA,1608,...,4.0,11.0,0,NaN,0,22.0,0.0,0.0,0.0,67.0
117397,2008,1,26,6,831.0,830,1031.0,1022,XE,2554,...,6.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
575590,2008,1,24,4,642.0,600,931.0,815,CO,689,...,12.0,17.0,0,NaN,0,42.0,0.0,34.0,0.0,0.0
90689,2008,1,31,4,1022.0,1020,1124.0,1125,WN,2612,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
642648,2008,2,14,4,1909.0,1915,2212.0,2225,WN,2193,...,7.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
853827,2008,2,5,2,2119.0,2102,2327.0,2316,US,70,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
10094,2008,1,6,7,1028.0,1025,1229.0,1205,WN,3778,...,15.0,12.0,0,NaN,0,0.0,0.0,24.0,0.0,0.0
754868,2008,2,13,3,1835.0,1735,2050.0,2005,OH,4965,...,2.0,12.0,0,NaN,0,45.0,0.0,0.0,0.0,0.0
248864,2008,1,30,3,1843.0,1841,8.0,2348,UA,1218,...,6.0,46.0,0,NaN,0,0.0,0.0,20.0,0.0,0.0
596853,2008,1,8,2,1623.0,1627,1916.0,1930,DL,681,...,10.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
671010,2008,2,22,5,NaN,1050,NaN,1345,WN,1640,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
552413,2008,1,11,5,1145.0,1145,1439.0,1424,B6,54,...,8.0,11.0,0,NaN,0,0.0,0.0,15.0,0.0,0.0
523310,2008,1,7,1,759.0,800,1113.0,1115,AA,2066,...,12.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Gestionamos los datos faltantes
#Obtenemos datos vacios aqui ninguna columna no tiene ninguna dato faltantes
df.dropna()

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [22]:
df.dropna(thresh=25)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [23]:
df.dropna(thresh=len(df.columns)-2)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [24]:
#Filtar un comluna de dato faltante
df.dropna(subset=["CancellationCode"])

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999913,2008,2,11,1,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
999919,2008,2,17,7,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999961,2008,2,17,7,NaN,1445,NaN,1630,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999971,2008,2,22,5,NaN,1235,NaN,1415,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999999,2008,2,17,7,NaN,1655,NaN,2005,MQ,4695,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN